

.asideWrap {
  width: 300px;
  padding: 50px 50px 50px 0;
  z-index: 1;

  @media (max-width: 800px) {
    padding: 20px 0;

  }

  .insideWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #f5f6ea;
    height: 500px;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

    h2 {
      padding-bottom: 30px;
    }
    .imageBox {
      padding: 50px;
      width: 60%;
      height: 30%;
      border-radius: 50%;
      background: url(../../assets/images/french-toast.jpg) no-repeat center center;
      background-size: cover;
    }
    p {
      padding-bottom: 30px;
    }

    .buttonLink {
      text-decoration: none;
    }
  }
}