.contentContainer {
  width: 1000px;
  border: 1px solid black;
  padding: 50px;
}

//.recipeListWraper {
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: center;
//  gap: 20px;
//  width: 100%;
//
//  p {
//    letter-spacing: 0.01071em;
//    line-height: 1.43;
//  }
//
//  h3 {
//    font-size: 20px;
//  }
//}

.paginationContainer {
  margin: 20px auto 0;
  align-items: center;
}