.header {
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 15%);

  .headerContainer {
    padding: 10px 50px;
    max-height: 60px;

    .headerLeft {
      width: 300px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .headerCenter {
      width: 1000px;
    }

    .headerRight {
      width: 300px;
      justify-content: space-around;
      align-items: center;

      .buttonsBox {
        display: flex;
        width: 200px;

        .loginButtonsBox {
          width: 100px;
          border-right: 1px solid rgba(0, 0, 0, .15);
          //display: flex;
          //justify-content: space-between;

          button {
            height: 36px;
            margin: 6px auto;
          }
        }

        .favButtonsBox {
          margin-left: 20px;

          .favIconContainer {
            width: 37px;
            height: 37px;
            background: #d54215;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;

            .favIcon {
              fill: rgba(0,0,0,0);
              stroke: #fff;
              stroke-width: 2px;
            }
          }
        }

      }

    }


  }
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logoWraper {
  width: 127px;
  height: 32px;
}

