@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@800&display=swap');
@font-face {
  font-family: "Now-Bold";
  src: url("assets/fonts/Now-Bold.otf");
}



body, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: "Now-Bold";
}

h1 {
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 48px;
  margin-top: 10px;
  color: #d54215;
}



p, a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 26px;
}

a {
  text-decoration: none;
}